{% extends 'base.html.twig' %}
{% block title %}Accueil Agence immobilière{% endblock %}
{% block body %}

		<div class="jumbotron text-center">
			<h1>Notre agence est heureuse de vous accueillir</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quia.</p>
		</div>
{% endblock %}