{% extends 'base.html.twig' %}
{% block title %}Accueil Agence immobilière{% endblock %}
{% block body %}

		<div class="jumbotron text-center">
			<h1>Notre agence est heureuse de vous accueillir</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quia.</p>
		</div>

	<div class="container">
		<h2>nos derniers biens</h2>
		<div class="row flex">
			{% for property in properties %}
				<div class="col-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								<a href="#">{{ property.title }}</a>
							</h5>
							<div class="card-text">{{ property.postalCode }} {{ property.city }}</div>
							<div class="text-primary">{{ property.price }} €</div>
						</div>
					</div>
				</div>

			{% endfor %}
		</div>
	</div>

{% endblock %}