:root {
    scroll-behavior: smooth;
}

a.nav-link {
    color: white !important;
}

.jumbotron.text-center {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

#contactForm {
    display: none;
}

.jumbotron {
    margin-top: 55px;
}

.btn-primary {
    background-color: #5b355e;
}

.btn-primary:hover {
    background-color: black;
}

.right-nav {
    display: inline-flex;
    margin-left: 20px;
    flex-direction: row-reverse;
}

.infos-top {
    background-color: #5b355e;
    color: white;
    display: block;
    height: 24px;
    width: 100%;
    margin: 0;
    padding: 0 10px;
}

.rooms {
    float: left;
}

.surface {
    float: right;
}

.infos-bottom {
    display: block;
    border-top: 1px solid #CECECE;
}

.price {
    float: left;
    padding-left: 10px;
}

.big-price {
    float: left;
    padding-left: 10px;
    font-size: 3rem;
}

.card-title {
    color: #5b355e;
}

.card-text,
.page-item a {
    color: #222222 !important;
}

span.page-link  {
    color: white;
}

.btn-add-favorite {
    float: right;
    z-index: 100;
    height: 36px;
    width: 36px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #CECECE;
    padding: 0;
}

#big {
    height: 46px;
    width: 46px;
}

.fa-heart {
    content: "\f004";
}

i {
    color: #5b355e;
    font-size: 18px;
}

.admin-index,
.admin-edit,
.admin-new,
.user-login {
    margin-top: 70px;
}

.bg-purple,
.page-item.active span{
    background-color: #5b355e !important;
}

h2 {
    margin-bottom: 40px;
}

.user-form {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.user-form code {
    background: #F5F5F5;
    padding: 2px 6px;
}

.card {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    cursor: pointer;
    min-height: 345px;
    margin: 15px 0 15px 0;
}

.col-3 a,
.card.mb-4 a{
    text-decoration: none;
    height: 450px;
}

.text-purple {
    color: #5b355e !important;
    font-weight: bold;
}

.text-primary {
    font-size: 1.5rem;
}

#filter {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    padding: 20px;
    background-color: white;
}

.card-body.big {
    height: 200px;
}

footer {
    height: 40px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

footer .container {
    padding-top: 10px;
    width: 100%;
    margin: 0;
    display: inline-flex;
}

#img-home {
    width: 100%;
    height: 160px;
}

#img-show {
    width: 100%;
    height: auto;
}

#img-index {
    height: 190px;
    width: 100%;
}

#map {
    height: 350px;
    margin-bottom: 50px;
}

a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
    color: #5b355e;
}